.top-title-bar {
  height: var(--topbar-height);
  background: white;
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  right: 0;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 0 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-text);
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.icon-wrapper {
  position: relative; /* make this the reference container */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-wrapper .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 10px;
  min-height: 16px;
  font-weight: bold;
  line-height: 1;
}


.user-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.user-avatar {
  width: 40px;
  height: 40px;
 
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: var(--dark-text);
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 30px;
}

@media (max-width: 992px) {
  .top-title-bar {
    left: 0;
  }

  .menu-toggle {
    display: block;
  }
}
